body {
  background: transparent;
}

#fl-widget-provider {
  border: 0;
  width: 100%;
  height: 350px;
  background-color: transparent;
}

.form-horizontal {
  height: 100%;
  padding: 15px;
  overflow: auto;
}

.add-link {
  margin-top: 10px;
}

h2 small {
  color: #14505e;
}

.alert-warning u {
  cursor: pointer;
}

/* FORMS */

.form-group {
  margin-left: -15px;
  margin-right: -15px;
}

.help-block {
  font-size: 0.8em;
}

.fl-widget-provider {
  border: 0;
  width: 100%;
  background-color: transparent;
}

#link-actions {
  overflow: hidden;
}

.regex-options {
  height: 0;
  opacity: 0;
  overflow: hidden;
  margin-bottom: 0;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.325s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  -webkit-transform: translate(0, -10px);
  -moz-transform: translate(0, -10px);
  -o-transform: translate(0, -10px);
  transform: translate(0, -10px);
}

.regex-options.show {
  display: block;
  opacity: 1;
  overflow: auto;
  height: auto;
  margin-bottom: 15px;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
